<nav role="navigation" class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">ember-skeleton</a>
    </div>
  </div>
</nav>
<div id="main" role="main" class="container">
  ember-skeleton v{{App.VERSION}}
</div>
